<section>

    <h2>Let's roll back voter turnout to 1896</h2>
    
    <p>
    	Thank you for coming by!
    </p>
    <p>
    	If you agree that voting in the 21st century should be much easier than the powers at be allow then join us!  Our vision is to create a fine user experience for democracy by putting pressure on those mechanisms that hold people back from turning out to the polls.
   	</p>
   	<p>
   		There are currently 0 full time people working on this site, so please be patient.  But the code is open source (<a href="https://github.com/dpxxdp/howdoivoteforbernie">fork it here</a>) so as always, if you're looking for something we don't have, build it yourself!. We are in the process of setting up a user system that allow those with no coding exprience to help compile data.
   	</p>
   	<p>
   		We're using a mean stack to build this application (MongoDB, Express, Angular.js, and Node.js). If you have any experience with these technologies and would like to make a concerted effort toward furthering this project, please email <a href="mailto:dpxxdp@gmail.com">dpxxdp@gmail.com</a>.
   	</p>
   	<p>
   		Don't see eye-to-eye with us politically?  Fork our repo and create HowDoIVoteFor<i>NameYourPolitician</i>.com. The Sanders revolution is in the business of letting people speak, not shutting them up.
   	</p>

</section>
