<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <option value="">Pick your state</li>
          <li ng-click="SelectState('AL')">Alabama</li>
          <li ng-click="SelectState('AK')">Alaska</li>
          <li ng-click="SelectState('AZ')">Arizona</li>
          <li ng-click="SelectState('AR')">Arkansas</li>
          <li ng-click="SelectState('CA')">California</li>
          <li ng-click="SelectState('CO')">Colorado</li>
          <li ng-click="SelectState('CT')">Connecticut</li>
          <li ng-click="SelectState('DE')">Delaware</li>
          <li ng-click="SelectState('DC')">District Of Columbia</li>
          <li ng-click="SelectState('FL')">Florida</li>
          <li ng-click="SelectState('GA')">Georgia</li>
          <li ng-click="SelectState('HI')">Hawaii</li>
          <li ng-click="SelectState('ID')">Idaho</li>
          <li ng-click="SelectState('IL')">Illinois</li>
          <li ng-click="SelectState('IN')">Indiana</li>
          <li ng-click="SelectState('IA')">Iowa</li>
          <li ng-click="SelectState('KS')">Kansas</li>
          <li ng-click="SelectState('KY')">Kentucky</li>
          <li ng-click="SelectState('LA')">Louisiana</li>
          <li ng-click="SelectState('ME')">Maine</li>
          <li ng-click="SelectState('MD')">Maryland</li>
          <li ng-click="SelectState('MA')">Massachusetts</li>
          <li ng-click="SelectState('MI')">Michigan</li>
          <li ng-click="SelectState('MN')">Minnesota</li>
          <li ng-click="SelectState('MS')">Mississippi</li>
          <li ng-click="SelectState('MO')">Missouri</li>
          <li ng-click="SelectState('MT')">Montana</li>
          <li ng-click="SelectState('NE')">Nebraska</li>
          <li ng-click="SelectState('NV')">Nevada</li>
          <li ng-click="SelectState('NH')">New Hampshire</li>
          <li ng-click="SelectState('NJ')">New Jersey</li>
          <li ng-click="SelectState('NM')">New Mexico</li>
          <li ng-click="SelectState('NY')">New York</li>
          <li ng-click="SelectState('NC')">North Carolina</li>
          <li ng-click="SelectState('ND')">North Dakota</li>
          <li ng-click="SelectState('OH')">Ohio</li>
          <li ng-click="SelectState('OK')">Oklahoma</li>
          <li ng-click="SelectState('OR')">Oregon</li>
          <li ng-click="SelectState('PA')">Pennsylvania</li>
          <li ng-click="SelectState('RI')">Rhode Island</li>
          <li ng-click="SelectState('SC')">South Carolina</li>
          <li ng-click="SelectState('SD')">South Dakota</li>
          <li ng-click="SelectState('TN')">Tennessee</li>
          <li ng-click="SelectState('TX')">Texas</li>
          <li ng-click="SelectState('UT')">Utah</li>
          <li ng-click="SelectState('VT')">Vermont</li>
          <li ng-click="SelectState('VA')">Virginia</li>
          <li ng-click="SelectState('WA')">Washington</li>
          <li ng-click="SelectState('WV')">West Virginia</li>
          <li ng-click="SelectState('WI')">Wisconsin</li>
          <li ng-click="SelectState('WY')">Wyoming</li>
  </ul>
</div>